

.sidebar {
  width: 15%;
  position: fixed; /* Set position to fixed */
  height: 100%;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
}



.logo-container {
  margin-bottom: 2rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}

.imag{
    height: 200px;
    width:200px;
}

@media (max-width: 768px) {
  
  .sidebar {
  width: 25%;
  position: fixed;
  height: 100%;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position :absolute;
  top:0;
  left:0;
  transform :translateX(-100%);
  transition: all 0.4s ease-in-out ;
}

.collapse{
  transform: translateX(0%);
  width: 25%;
  position: fixed; /* Set position to fixed */
  height: 100%;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
}

.logo-container {
  margin-bottom: 2rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}

.imag{
    height: 200px;
    width:200px;
}
  
}

