.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  
  padding: 20px;
   margin: 20px;
  border: 2px solid #ededed;
  border-radius: 16px;
  position:relative;
  cursor: pointer;
  
}


.card-img {
  width: 13rem;
  margin-bottom: 1rem;
}

.card-title {
  margin-bottom: 1rem;
  color: var(--0-d-6-efd, #0d6efd)
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag{    
    position: absolute;
    right: 0;
    bottom:0;

}