.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  
  padding: 20px;
   margin: 20px;
  border: 2px solid #ededed;
  border-radius: 16px;
  position:relative;
  cursor: pointer;
   object-fit: contain;
  
}


.card-img {
  width: 12rem;
  margin-bottom: 1rem;
  height: 13rem;
  display: block;
 object-fit: contain;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: var(--0-d-6-efd, #0d6efd);
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.bag{    
    position: absolute;
    right: 0;
    bottom:0;

}

@media (max-width: 768px) {
  /* Adjust styles for screens up to 768px in width (typical for mobile phones) */
  .card-container {
    margin-left: 25%;
   
    /* Reduce margin for smaller screens */
  }

  .card {
    padding: 10px;
    border: 1px solid #ededed; /* Reduce border width */
    border-radius: 8px; /* Reduce border radius */
  }

  .card-title {
    font-size: 1rem; /* Increase font size for better readability on smaller screens */
  }

  .card-price {
    font-size: 0.9rem; /* Reduce font size for smaller screens */
  }
}